.dash-container {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.dash-container .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dash-container .title h1 {
    margin: 10px 0;
    font-size: 2rem;
    color: var(--font-color);
}

.dash-container .emails {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.dash-container .emails .header {
    display: flex;
    padding: 25px;
    justify-content: space-between;
    background-color: var(--primary-color);
    box-shadow: 0 0 8px black;
}

.dash-container .title button .MuiButton-label {
    font-size: 1rem;
}

.MuiPaper-elevation1 {
    background-color: var(--background-color) !important
}

.MuiIconButton-root {
    color: var(--font-color) !important;
}

.body {
    margin-top: 20px;
}

.body h1 {
    color: var(--font-color);
}

.address {
    display: flex;
    flex-direction: column;
    
}

.address .title {
    display: flex;
    justify-content: flex-start;
    padding: 15px;
    background-color: var(--primary-color);
    box-shadow: 0 0 8px black;
}

.address .title h3 {
    color: var(--font-color);
    margin: 0 25px;
}

.address .email-list {
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    margin-top: 7px;
}

.address .email-list .email {
    display: flex;
    background-color: var(--primary-color);
    box-shadow: 0 0 8px black;
    cursor: pointer;
    padding: 15px;
}

.address .email-list .email h3 {
    color: var(--font-color);
    margin: 0 25px;
}