.dash-container {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.dash-container .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dash-container .title h1 {
    margin: 10px 0;
    font-size: 2rem;
}

.dash-container .emails {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.dash-container .emails .header {
    display: flex;
    border: 1px solid lightgray;
    padding: 25px;
    justify-content: space-between;
    background-color: white;
}

.dash-container .title button .MuiButton-label {
    font-size: 1rem;
}
